<div>
  <div class="container">
    <%= react_component("SnackDojoApp",
      {
        personas: @personas,
        item: @items,
      },
      prerender: true) %>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      fbq('trackCustom', 'ViewedInventoryPage');
    })
  </script>

  <%= render 'footer' %>
</div>
