<div class="flex flex-column container" style="min-height:100vh;">
  <div class="flex-auto">
    <h1>have a healthier, stress-free pregnancy</h1>
    1. Choose number of meals
    2. Tell us about your allergies
    3. Relax. We do the planning, shopping, and the prep so that you are well fed, well rested, and the healthiest you can be.

    We are your sous chef
  </div>
  <div class="py2 border-top">
    <div class="sm-col-6 mx-auto muted">
      2015 Fit Foods. Made with <span class="red">&hearts;</span> in Santa Monica, CA.
    </div>
  </div>
</div>


Yes, we know it's a big commitment. you're backed by our 100% satisfaction guarantee
