<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange-small.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3 sm-col-8 mx-auto" style="background-color:rgba(255, 255, 255, 0.8);">
        <p class="h1 center">Healthy, balanced snacks and juices for new and expectant mothers</p>
        <ul class="h3 list-reset">
          <li class="p1">
            <strong>First trimester</strong> - folate-rich foods for healthy brain and spinal cord development, and vitamin B6 to help with morning sickness.
          </li>
          <li class="p1">
            <strong>Second trimester</strong> - foods with omega 3 fatty acids for brain devlopment, calcium and vitamin D for bones and teeth, and iron-rich foods for red blood cells.
          </li>
          <li class="p1">
            <strong>Third trimester</strong> - energy boosting foods, foods with vitamin K to help with blood clotting, and extra snacks to meet your extra calorie requirements for third trimester.
          </li>
        </ul>
        <div class="center">
          <a href="<%= pricing_path %>" id="pricing">
            <div class="btn btn-primary button-big center">
              Plans and pricing
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function() {
    mixpanel.track("page-view", {
      'name': 'home page',
      'url': window.location.pathname
    });
    $('#pricing').click(function(e) {
      mixpanel.track('pricing button clicked')
      return true
    })
  })
  </script>
  <%= render 'partnerbrands' %>
  <%= render 'footer' %>
</div>
