<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3 sm-col-8 mx-auto" style="background-color:rgba(255, 255, 255, 0.8);">
        <p class="h1">Weekly meal kits for new and expectant mothers</p>
        <ol class="h3">
          <li class="p1">
            Choose the number of meals you need per week. Every plan includes healthy snacks to munch on throughout your day.
          </li>
          <li class="p1">
            Tell us your expected due date. We will give you useful advice and tips to help you feel the best throughout the process.
          </li>
          <li class="p1">
            Relax. We do all the planning, shopping and prep so that you and your baby are the healthiest you can be.
          </li>
        </ol>
        <div class="center">
          <div class="btn btn-primary center">
            Plans and pricing
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py2 border-top">
    <div class="sm-col-6 mx-auto muted center">
      2015 Fit Foods. Made with <span class="red">&hearts;</span> in Santa Monica, CA.
    </div>
  </div>
</div>
