<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange-small.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3" style="background-color:rgba(255, 255, 255, 0.75);">
        <p class="h1 center">Healthy snacks for clever moms</p>
        <p class="h2">
          From pre-pregnancy to postpartum recovery, get what you need to be healthy, energized and happy, straight to your door.
        </p>
        <div class="center">
          <h3>Get started by selecting your current stage</h3>
          <div class="flex flex-wrap flex-justify mb3">
            <div class="p1 center border border-black flex-auto">
              <div>
                Planning for a baby
              </div>
              <img src="http://placehold.it/150x150" />
            </div>
            <div class="p1 center border border-black flex-auto">
              <div>
                1st trimester
              </div>
              <img src="http://placehold.it/150x150" />
            </div>
            <div class="p1 center border border-black flex-auto">
              <div>
                2nd trimester
              </div>
              <img src="http://placehold.it/150x150" />
            </div>
            <div class="p1 center border border-black flex-auto">
              <div>
                3rd trimester
              </div>
              <img src="http://placehold.it/150x150" />
            </div>
            <div class="p1 center border border-black flex-auto">
              <div>
                Postpartum
              </div>
              <img src="http://placehold.it/150x150" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function() {
    mixpanel.track("page-view", {
      'name': 'home page',
      'url': window.location.pathname
    });
    fbq('trackCustom', 'ViewedHomepage');
    // TODO: add mixpanel tracking to stage selection

  })
  </script>
  <%= render 'partnerbrands' %>
  <%= render 'footer' %>
</div>
