<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3 sm-col-8 mx-auto" style="background-color:rgba(255, 255, 255, 0.8);">
        <p class="h1 center">Healthy, balanced snacks and juices for new and expectant mothers</p>
        <ul class="h3 list-reset">
          <li class="p1">
            <strong>First trimester</strong> - folate-rich foods for healthy brain and spinal cord development, and vitamin B6 to help with morning sickness.
          </li>
          <li class="p1">
            <strong>Second trimester</strong> - foods with omega 3 fatty acids for brain devlopment, calcium and vitamin D for bones and teeth, and iron-rich foods for red blood cells.
          </li>
          <li class="p1">
            <strong>Third trimester</strong> - energy boosting foods, foods with vitamin K to help with blood clotting, and extra snacks to meet your extra calorie requirements for third trimester.
          </li>
        </ul>
        <div class="center">
          <div class="btn btn-primary button-big center">
            Plans and pricing
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m3">
    <div class="container">
      <div class="h1 bold center p2">
        Partner brands
      </div>
      <div class="sm-col-10 mx-auto">
        <div class="flex flex-wrap flex-justify">
          <% 14.times do %>
            <div class="p1">
              <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" style="height:100px;" />
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="py2 border-top">
    <div class="sm-col-6 mx-auto muted center">
      2015 SnackDojo. Made with <span class="red">&hearts;</span> in Santa Monica, CA.
    </div>
  </div>
</div>
