<p>
  Not ready to sign up yet? Enter your email so we can send you discounts from our partner brands! (Plan subscribers: don't worry, these discounts are automatically included with your shipments)
</p>
