<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange-small.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3 sm-col-8 mx-auto" style="background-color:rgba(255, 255, 255, 0.8);">
        <p class="h1 center">Plans and pricing</p>
        <p>
          Each box has enough goodies to last for one week. A typical box includes a mix of cold pressed juices, healthy snacks, and special discounts from our brand partners. All of our plans have one trimester (3 month) minimums.
        </p>
        <p>
          Select a plan to get started
        </p>
        <ul class="h3 list-reset">
          <li class="p1">
            <strong>Baby steps</strong> - 2 boxes a month. $55/box
          </li>
          <li class="p1">
            <strong>Medium</strong> - 3 boxes a month. $50/box
          </li>
          <li class="p1">
            <strong>Best</strong> - 4 boxes a month. $50/box
          </li>
        </ul>
        <div class="center">
          <p>
            Not ready to subscribe yet? Subscribe to our mailing list to receive special discounts from our brand partners. If you are an existing customer, these special discounts and other goodies will be automatically delivered with your boxes.
          </p>
          <div class="btn btn-primary button-big center">
            Subscribe
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'partnerbrands' %>
  <%= render 'footer' %>
</div>
