<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange-small.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3 sm-col-8 mx-auto" style="background-color:rgba(255, 255, 255, 0.8);">
        <p class="h1 center">Plans and pricing</p>
        <p>
          Each box contains a week's supply of cold pressed juices, healthy snacks, and special discounts from our partners. All plans have one trimester minimums.
        </p>
        <p class="h3 bold">
          Select a plan to get started
        </p>
        <ul class="h3 list-reset">
          <li class="m1 p2 border border-black pointer plan" id="basic">
            <strong>Basic</strong> - 2 boxes a month, $55 per box
          </li>
          <li class="m1 p2 border border-black pointer plan" id="value">
            <strong>Value</strong> - 3 boxes a month, $50 per box
          </li>
          <li class="m1 p2 border border-black pointer plan" id="power">
            <strong>Power</strong> - 4 boxes a month, $50 per box
          </li>
        </ul>
        <div class="center border-top py2">
          <p>
            Not ready for a plan yet? Subscribe to our mailing list to receive special discounts from our partners.
          </p>
          <a href="http://eepurl.com/bJyH-1">
            <div class="btn btn-primary center" id="mailing-list">
              Subscribe
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>

  $(document).ready(function() {
    mixpanel.track("page-view", {
      'name': 'plans and pricing',
      'url': window.location.pathname
    });
    $('li.plan').click(function(e) {
      mixpanel.track('plan clicked', {
        'level': e.target.id
      })
      return true
    })
    $('#mailing-list').click(function() {
      mixpanel.track('subscribe to mailing list clicked')
    })
  })

  </script>
  <%= render 'partnerbrands' %>
  <%= render 'footer' %>
</div>
