<div class="container">
  <div class="sm-col-7 mx-auto p2">
    <div class="h1 bold center">
      Sample box (first trimester)
    </div>
    <div class="p2 flex flex-justify flex-wrap">
      <div>
        <ul class="list-reset">
          <li>
            Yogurt drink
          </li>
          <li>
            Dried apricots (Eden)
          </li>
          <li>
            Fruit and cheese scones
          </li>
          <li>
            Carrot sticks and hummus dip
          </li>
          <li>
            Mixed nuts and dried fruit
          </li>
          <li>
            Banana bread
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-reset">
          <li>
            Greek yogurt
          </li>
          <li>
            Green tea
          </li>
          <li>
            Herbal tea
          </li>
          <li>
            Cold pressed kale, spinach, celery juice
          </li>
          <li>
            Cold pressed kale, cumcumber, apple juice
          </li>
          <li>
            Cold pressed carrot and orange juice
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
First trimester - folate-rich foods for healthy brain and spinal cord development, and vitamin B6 to help with morning sickness.
Second trimester - foods with omega 3 fatty acids for brain devlopment, calcium and vitamin D for bones and teeth, and iron-rich foods for red blood cells.
Third trimester - energy boosting foods, foods with vitamin K to help with blood clotting, and extra snacks to meet your extra calorie requirements for third trimester.

<div className="flex flex-center">
  <img src="http://placehold.it/50x50" className="p1 flex-none" />
  <div>Complex carbs (sustained energy throughout the day, low glycemic index)</div>
</div>
<div className="flex flex-center">
  <img src="http://placehold.it/50x50" className="p1 flex-none" />
  <div>Plant proteins (sustained energy throughout the day, low glycemic index)</div>
</div>
<div className="flex flex-center">
  <img src="http://placehold.it/50x50" className="p1 flex-none" />
  <div>Omega-3 fatty acids (reduce risk of preterm birth and preeclampsia)</div>
</div>
