<div class="container">
  <div class="sm-col-7 mx-auto p2">
    <div class="h1 bold center">
      Sample box (first trimester)
    </div>
    <div class="p2 flex flex-justify flex-wrap">
      <div>
        <ul class="list-reset">
          <li>
            Yogurt drink
          </li>
          <li>
            Dried apricots (Eden)
          </li>
          <li>
            Fruit and cheese scones
          </li>
          <li>
            Carrot sticks and hummus dip
          </li>
          <li>
            Mixed nuts and dried fruit
          </li>
          <li>
            Banana bread
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-reset">
          <li>
            Greek yogurt
          </li>
          <li>
            Green tea
          </li>
          <li>
            Herbal tea
          </li>
          <li>
            Cold pressed kale, spinach, celery juice
          </li>
          <li>
            Cold pressed kale, cumcumber, apple juice
          </li>
          <li>
            Cold pressed carrot and orange juice
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
