<div class="flex flex-column" style="min-height:100vh;">
  <div class="flex-auto" style="background: url(<%= asset_url 'stock/sliced-banana-orange-small.jpg' %>) no-repeat center/cover">
    <div class="container">
      <div class="p3 mt3 sm-col-8 mx-auto" style="background-color:rgba(255, 255, 255, 0.8);">
        <p class="h3 bold center">
          Hello! You caught us before we are ready.
        </p>
        <div class="py2 center">
          <p>
            We're working hard to put the finishing touches on SnackDojo. It should be ready for you soon!
          </p>
          <p>
            In the meantime, if you'd like to receive a reminder when we're ready, enter your email in our subscribe form.
          </p>
          <a href="http://eepurl.com/bJyH-1">
            <div class="btn btn-primary center" id="mailing-list">
              Click to Subscribe
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function() {
    mixpanel.track("page-view", {
      'name': 'waiting_list',
      'url': window.location.pathname
    });
  })
  </script>
  <%= render 'partnerbrands' %>
  <%= render 'footer' %>
</div>
