@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,300,400italic);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

$sizes: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

@each $size in $sizes {
  #{$size} {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.pointer {
  cursor: pointer;
}

// animations
.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
