@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,300,400italic);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

$sizes: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

@each $size in $sizes {
  #{$size} {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.pointer {
  cursor: pointer;
}

// animations
.fadeIn-appear {
  opacity: 0.01;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// hover visibility
.hover-visible { visibility: hidden }
.hover-wrapper:hover .hover-visible { visibility: visible }
.hover-wrapper:hover .hover-invisible { visibility: hidden }

.hover-show { display: none }
.hover-wrapper:hover .hover-show { display: block }
.hover-wrapper:hover .hover-hide { display: none }

.border-whitesmoke {
  border-color: #F5F5F5;
}

.outline {
  outline: 1px solid #F5F5F5;
}
